@charset "ISO-8859-1";

.login{
	width: 100vw;
	height: 50vh; 
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center;
	border: 1px solid #ccc;
  	border-radius: 5px;
}

.logout{
	position: relative;
	margin-right: 15px;
	top: -40px;
	float: right;
}

