@charset "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

body{
	font-family: 'Alkatra', cursive;
	background-image: linear-gradient(330deg, rgb(165, 180, 252), rgb(79, 70, 229));
	height: 100%;
	color: #fff;
	
	
}

.menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.s-menu-item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.menu_icon{
    width: 2.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
}

h2{
	font-size: 30px;
}

.logout{
	position: relative;
	float: right;
}


.login{
	
	width: 100vw;
	height: 50vh; 
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center;
	
	border: 1px solid #ccc;
  	border-radius: 5px;
  	padding: 30px;
  	
}

.box-user{
	width: 300px;
	height: 450px; 
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center;
	border: 3px solid #ff938c;
  	border-radius: 5px;
  	

}

.out-margin{
	margin-bottom: 3px;
	font-weight: bold;
}

.footer {
  	position: fixed !important;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #f5f5f5;
  	padding: 20px;
  	text-align: center;
}


