@charset "ISO-8859-1";

.login{
	width: vw;
	height: vh; 
	display: flex; 
	justify-content: center; 
	flex-direction: column; 
	align-items: center;
}

.logout{
	position: relative;
	margin-right: 15px;
	top: -40px;
	float: right;
}