@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap');


*{
	margin: 0px;
	padding: 0p;
	box-sizing: border-box;
	
}

body{
	font-family: 'Alkatra', cursive;
}

.card{
	display: flex;
	justify-content: center;
}

.logout{
	position: relative;
	margin-right: 15px;
	top: -40px;
	float: right;
}

.center{
	display: flex;
	flex-direction: column;
	margin: 30px 50px;
	max-width: 700px;
	justify-content: center;
	padding: 50px;
	box-shadow: 10px 5px 5px black;
	background-color: rgba(10,23,55,0.5);
	color: white;
	font-weight: bold;
}

