@charset "ISO-8859-1";



*{
	margin: 0px;
	padding: 0p;
	box-sizing: border-box;
	
}

body{
	background-image: url("https://media.istockphoto.com/id/1201853415/pt/vetorial/pet-shop-related-seamless-pattern-and-background-with-line-icons.jpg?s=1024x1024&w=is&k=20&c=rJ0btn11wWQKqs27t6GNxGbvpENZrlJHhOXL0qtHCPU=");
}

.card{
	display: flex;
	justify-content: center;
	align-items: center;
}