@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap');


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	

}

body{
	font-family: 'Alkatra', cursive;
	background-image: linear-gradient(330deg, rgb(165, 180, 252), rgb(79, 70, 229));
	height: 100%;
	color: #fff;
}

.menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.s-menu-item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.menu_icon{
    width: 2.5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.menu ul li a {
  text-decoration: none;
  color: inherit;
}


.card{
	display: flex;
	justify-content: center;
	border-radius: 15px;
}

.cards{
	border-radius: 15px;
	margin-bottom: 50px;
	min-height: calc(100vh - 150px);
	padding-bottom: 100px;
}

.card-itens{
	transition: box-shadow 0.3s ease;
	border-radius: 15px;
}

.card-itens:hover{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.card-banner{
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.logout{
	position: relative;
	float: right;
	margin-right: 8px;
}

.center{
	display: flex;
	flex-direction: column;
	margin: 30px 50px;
	max-width: 700px;
	justify-content: center;
	padding: 50px;
	box-shadow: 10px 5px 5px black;
	background-color: rgba(10,23,55,0.5);
	color: white;
	font-weight: bold;
}

.precoAntigo{
	text-decoration: line-through;
}

.precoPromocional{
	font-size: 22px;
	background: linear-gradient(to right, #eec301, #f0e056);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 	font-weight: bold;
}


.footer {
  	position: static;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #f5f5f5;
  	padding: 20px;
  	text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

p {
  color: #666;
}

.p-card{
	width: 25em;
	border-radius: 15px;
}

.promo{
	background: linear-gradient(to right, #9922c6, #8000b3, #9922c6);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	font-weight: bold;
}

@media (max-width: 1250px) {
	.nomeUsuario{
		display: none;
	}
	
	.p-card{
		display: flex;
		flex-direction: column;
	}
}
