@charset "ISO-8859-1";

body{
	background-color: #ccc
}


.box-listagem{
	padding: 40px;
}

.car-item-content {
  white-space: pre-wrap;
  display: flex;
}

.car-item{
	color: #fff;
}
.item{
	border-radius: 10px;
  	background-color: #0093E9;
	background-image: linear-gradient(330deg, rgb(165, 180, 252), rgb(238, 195, 1));
  	padding: 20px;
  	margin: 10px;
  	color: #ffff;
}

.footer {
  	position: fixed !important;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #f5f5f5;
  	padding: 20px;
  	text-align: center;
}

p{
	line-height: 0.1;
	color: white;
	display: flex;
}

.footer-content p{
	color: #666;
}
