@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	background: url("https://as1.ftcdn.net/v2/jpg/01/86/42/44/1000_F_186424417_a6r0AO8VfE9WIF7EC4MRvn6cpJKjTjRu.jpg") repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Alkatra', cursive;
	color: #000;
}

h1{
	color: #464646;
	box-shadow: 2px;
	margin-top: 30px;
}

.login{
	margin: 100px;
	display: flex;
	flex-direction: column;
}



#float-input{
	width: 900px;
	
	background-color: transparent;
}

